.quebraCabeca{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.peca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    font-size: 20;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}

#peca0 {
    background-color: #b6b6b6;
    cursor: default;
    background-image: url('./imagens/arthur/0.jpg');
    background-size: cover;
}
#peca1{
    background-image: url('./imagens/arthur/1.jpg');
    background-size: cover;
}
#peca2{
    background-image: url('./imagens/arthur/2.jpg');
    background-size: cover;
}
#peca3{
    background-image: url('./imagens/arthur/3.jpg');
    background-size: cover;
}
#peca4{
    background-image: url('./imagens/arthur/4.jpg');
    background-size: cover;
}
#peca5{
    background-image: url('./imagens/arthur/5.jpg');
    background-size: cover;
}
#peca6{
    background-image: url('./imagens/arthur/6.jpg');
    background-size: cover;
}
#peca7{
    background-image: url('./imagens/arthur/7.jpg');
    background-size: cover;
}
#peca8{
    background-image: url('./imagens/arthur/8.jpg');
    background-size: cover;
}